<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"/>

<body>

<!-- Barra de Navegación superior -->

<nav th:replace="fragments/nav"/>


<div class="container">
  <h2>Editar Profesor</h2>
  <form class="form-horizontal" method="post" th:action="${'/professor/edit/' + professor.id}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Dni:</label>
      <div class="col-sm-10">
        <input th:value="${professor.dni}" type="text" class="form-control" name="dni" placeholder="Ejemplo 55654355R" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Nombre:</label>
      <div class="col-sm-10">          
        <input th:value="${professor.nombre}" type="text" class="form-control" name="nombre" placeholder="Ejemplo Maria" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Apellidos:</label>
      <div class="col-sm-10">          
        <input th:value="${professor.apellidos}" type="text" class="form-control" name="apellidos" placeholder="Ejemplo Fernandez Alvarez" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Categoria:</label>
      <div class="col-sm-10">          
        <input th:value="${professor.categoria}" type="text" class="form-control" name="categoria" placeholder="Ejemplo Ciencias" required="true" />
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Modificar</button>
      </div>
    </div>
  </form>
</div>
<footer th:replace="fragments/footer"/>



</body>
</html>
